@inject ICounter Counter;
<div>
    <h3>Event-based Counter</h3>
    <p>Current value: @Counter.Value</p>
</div>
@code{
    protected override void OnInitialized()
    {
        Counter.OnChangeAsync += Refresh;
    }

    private async Task Refresh()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Counter.OnChangeAsync -= Refresh;
    }

}